/* RESET */

* {
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
    height: 10000px;
    background-color: black;
}

/* HEADER */

header {
    height: 100px;
    padding: 0 50px;
    color: #cbd5f4;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(203, 213, 244, .4)
}

.boton-cv {
    text-decoration: none;
    color: #cbd5f4;
    border-color: #cbd5f4;
    border-width: .1px;
    border-style: solid;
    padding: 7px 15px;
    border-radius: 10px;
    transition: .3s ease;
}

.boton-cv:hover {
    background-color: #202020;
    border-color: #202020;
    color: white;
}

.menu a {
    color: #cbd5f4;
    text-decoration: none;
    padding: 0 10px;
    transition: .4s ease;
}

.mostrar-menu, .esconder-menu {
    font-size: 30px;
    cursor: pointer;
    transition: .4s ease;
}

.mostrar-menu {
    /* Para poner el menu adelante de la x */
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
    color: white;
}

#check,
.mostrar-menu,
.esconder-menu {
    display: none;
}

/* SOBRE MI */

#sobre-mi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45vh;
    display: flex;
    padding: 50px 0;
}

#sobre-mi h2 {
    color: #cbd5f4;
    padding: 10px 0;
}

#sobre-mi p {
    width: 50%;
    color: #cbd5f4;
}

.contenido-sobre-mi {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    width: auto;
}

/*
.contenido-sobre-mi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 30px;
    background-color: blue;
}

.contenido-sobre-mi p {
    color: #cbd5f4;
    max-width: 70%;
    padding: 0 30px;
}

.contenido-sobre-mi img {
    max-width: 30%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
*/



/* Me quede tratando de poner el link al cv abajo de la foto, luego chequear que este bien hecho todo el tema de los contenedores al rededor del "sobre mi" */








/* RESPONSIVE */

@media(max-width: 768px) {
    /* HEADER */
    .mostrar-menu,
    .esconder-menu {
        display: block;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #0a192e;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0;
        z-index: 100;
        transition: .8s ease;
    }

    .menu a {
        display: block;
        padding: 20px;
    }

    .esconder-menu {
        /* Position absolute para mover el elemento a donde querramos */
        position: absolute;
        /* A 10px del top */
        top: 40px; 
        /* A 20px de la derecha */
        right: 40px;
    }

    /* :checked es cuando hacemos click */
    /* ~ .clase es para que se modifiquen todos los elementos de .clase luego del checked */
    #check:checked ~ .menu {
        right: 0;
    }
}